# 파이썬 캐시 및 결과물
__pycache__/

# 1. 일단 모든 폴더와 모든 jpg, json 파일을 막습니다.
jpg_0001/
labeling_0001/
*.jpg
*.json

# 2. 하지만 특정 경로의 sample.jpg 하나만 "예외"로 허용합니다. (느낌표 필수!)
!jpg_0001/sample.jpg

# 3. 결과 이미지도 올리고 싶다면 이것도 예외 처리하세요.
!result.png